@import 'reset';
$lightColor: #22B573;
$darkColor: #000;
$txtColor: #fff;
$titleColor: #efd592;

.App-main {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  background-color: $lightColor;
     
}


@media screen and (min-width: 50em) {
  .App-main {
    flex-direction: row;
    padding: 1em;
    height: 100vh;
  }
}

.App-main-first {
  
  width: 70%;
  max-height: 80vh;
  background-color: $darkColor;
  padding: 2em;
  margin-top: 4em;
  margin-left: 1em;
}

@media screen and (min-width: 50em) {
  .App-main-first   {
 width: 350px;
 height: 70vh;

}
}

.App-main-title {
  align-items: left;
  color: $titleColor;
  font-size: 1em;
  width: 5em;
  line-height: 2em;

}

.App-main-text {
  font-family: "Roboto";
  color: $txtColor;
  line-height: 1.3em;
  padding-top: 2em;
  
}

.App-main-more {
  text-transform: uppercase;
  letter-spacing: .8rem;
  color:$titleColor;
  margin-left: 1em;
}

